[submodule "apps/almond-front"]
	path = apps/almond-front
	url = https://github.com/RaveyShare/almond-front.git
[submodule "apps/almond-mina"]
	path = apps/almond-mina
	url = https://github.com/RaveyShare/almond-mina.git
[submodule "services/user-center"]
	path = services/user-center
	url = https://github.com/RaveyShare/user-center.git
[submodule "services/ai-center"]
	path = services/ai-center
	url = https://github.com/RaveyShare/ai-center.git
[submodule "foundation/common-dependencies"]
	path = foundation/common-dependencies
	url = git@github.com:RaveyShare/common-dependencies.git
[submodule "foundation/common-starter"]
	path = foundation/common-starter
	url = git@github.com:RaveyShare/common-starter.git
[submodule "services/almond-back"]
	path = services/almond-back
	url = https://github.com/RaveyShare/almond-back.git
